h1{
    text-align: center;
    color:white;
    font-family: 'Bitter', serif;
}
h2{
    color:black;
    text-align: center;
    text-decoration: underline;
}
header{
    background-color:darkslategray;
}
li {
    float: left;
    margin-right: 2%;
  }
ul {
    list-style: none; 
    margin-left: 0;
    padding-left: 0;
}
  nav{
    display: flex;
    flex-direction: column;
    background-color:darkgrey;
  }
  header, nav, footer {
    padding: .5em;
  }
  p, nav {
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  a:hover {
    color:antiquewhite;
  }
  
  a:active {
   color: yellow;
  }
  a:link, a:visited {
    text-decoration: none;
  }
  #box {
    padding: 0%;
    max-width: 100%;
    margin: auto;
  }
  main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.3%;
  }
  @media screen and (min-width: 960px){
    main {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0.3%;
    }
  }
  
  button {
    background-image:radial-gradient(circle, rgba(21,176,141,1) 0%, rgba(129,175,159,1) 100%);
    border: none;
    color: white;
    padding: 5% 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  article {
    padding-left: 5%;
    padding-right: 5%;
  }
  .borders{
    border:5px solid black

}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
footer{
  position: relative;
  overflow: hidden;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
}
body{
  margin:0;
}
p{
  font-size: 20px; 
  font-family:'Times New Roman', Times, serif;
  text-align: center;
  line-height: 150%;
}
@font-face {
  font-family: 'Bitter', serif;
  src: url(Bitter-VariableFont_wght.ttf) format('woff2');
 }